<!DOCTYPE html>
<html>
<head>
    <title>{{ blog.title }}</title>
</head>
<body>

    <h1>{{ blog.title }}</h1>
    
    <p><strong>Author:</strong> 
        <a href="{% url 'user_profile' blog.author.username %}">{{ blog.author.username }}</a>
    </p>

    {% if blog.image %}
        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 400px;">
    {% endif %}

    <p>{{ blog.content }}</p>

    <p><strong>Tags:</strong> 
        {% for tag in blog.tags.all %}
            <span>{{ tag.name }}</span>
        {% empty %}
            No tags.
        {% endfor %}
    </p>

    {% if request.user == blog.author %}
        <hr>
        <a href="{% url 'edit_blog' blog.id %}">Edit Blog</a> | 
        <a href="{% url 'delete_blog' blog.id %}">Delete Blog</a>
    {% endif %}

    <br><br>
    <a href="{% url 'blogs' %}">Back to All Blogs</a>

</body>
</html>